
.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;


}

.country-info {
  max-width: 320px;
}


  
.country-info-container {
    display: flex;
    margin-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.357) 1px 4px 8px;
    border-radius: 1rem;
    padding: 1.25rem;
    flex-direction: column;
    max-width: 640px;
    min-width: 300px;

  }


  
  .country-info-img img {
    border-radius: 1rem;
    width: 320px;
    max-height: 220px;


    
  }

  .country-info h3 {
    color: black;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  
  .country-info-left h5 {
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .country-info-left h5 span {
    color: black;
    opacity: 85%;
    font-weight: 400;
  }