.searchbar-container {
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  input[type="text"] {
    padding: 12px 20px;
    display: inline-block;
    min-width: calc(60vw - 4rem) ;
    max-width: 500px;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .search-container button {
    padding: 12px 20px;
  }
  
  
  
  
  
  