.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 12px 20px;
    margin: 6px;
    display: inline-block;
    width: calc(70vw - 3rem) ;
    max-width: 500px;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .search-container button {
    padding: 12px 20px;
  }
  
  
  
  
  
  