@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 50.5rem;
    padding-left: 20px;
    background-position: center left;
    background-size: cover;
    
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

  }

.search-container p {
      margin: 1.25rem;
  }

.info {
    margin: 15% 1rem;
    padding: .75rem;
    width: 40%;
    min-width: min-content;
    color: white;
    background-color: rgba(48, 46, 44, 0.856);
    font-size: 1rem;
    font-family: 'Sen', sans-serif;
    border-radius: 1rem;
    

}

.info p{
    line-height: 1.5rem;
}



.info h2 {
    font-size: 3.75rem;
    margin: 0;
}

@media (min-width: 860px) {
.hero {
    min-height: 40.75rem;
    background-position: center left;

}
}

