


main {
    width: 100%;  
    font-family: 'Arimo', sans-serif;
}

h2 {
    margin: 1rem;
}

.continent-card-container {
    height: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}


