@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

:root {
  --link-hover: rgb(253, 195, 4);
}

*, *::after, *::before {
  box-sizing: border-box;
}

svg {
  width: 1.25rem;
  height: 1.25rem;

}

button {
  color: #ffffff;
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  display: inline-block;
  padding: 1.25rem 1.875rem;
  margin: 1rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  
}

@media (max-width: 860px) {
  button {
    padding: 8px;
  }
  }




body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

