@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

:root {
  --link-hover: rgb(253, 195, 4);
  --selection: rgb(253, 195, 4);
  --card-hover: rgb(143, 81, 214)
}

*, *::after, *::before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--selection);
}



body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

